<h2 mat-dialog-title>Información del servicio</h2>

<form name="form" [formGroup]="form">
    <mat-form-field>
        <input
            matInput
            formControlName="name"
            (keydown)="onKeyDown($event)"
            placeholder="Descripción del servicio"
        />
        <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">
            Este campo es requerido.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input
            matInput
            formControlName="budget"
            (keydown)="onKeyDownAmount($event)"
            placeholder="Monto del servicio"
        />
        <mat-error
            *ngIf="form.get('budget').invalid && form.get('budget').touched"
        >
            Este campo es requerido.
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="!newService">
        <mat-select placeholder="Estado" formControlName="enabled">
            <mat-option
                [value]="status.enabled"
                *ngFor="let status of statuses"
                >{{ status.description }}</mat-option
            >
        </mat-select>
        <mat-error
            *ngIf="form.get('enabled').invalid && form.get('enabled').touched"
        >
            Este campo es requerido.
        </mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">Cancelar</button>
        <button
            type="button"
            mat-flat-button
            *ngIf="newService"
            [color]="'primary'"
            (click)="onCreateService()"
            [disabled]="form.invalid || form.pristine"
        >
            Crear servicio
        </button>
        <button
            type="button"
            mat-flat-button
            *ngIf="!newService"
            [color]="'primary'"
            (click)="onUpdateService()"
            [disabled]="form.invalid || form.pristine"
        >
            Actualizar servicio
        </button>
    </div>
</form>
