.mat-form-field {
    display: grid !important;
    width: 100%;
    margin-bottom: 10px;
}

.donation-image {
    height: 100%;
    object-fit: cover;
}

.doc-file {
    color: white;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.mat-dialog-payment-title {
    margin: 0 !important;
}

.mat-dialog-payment-subtitle {
    font-size: 15px;
    color: gray !important;
}
